<!--
    *********************************************
    *   This HTML file is written for the       *
    *   semester-long project for CISC 3140     *
    *   at Brooklyn College. The game is        *
    *   inspired by the retro game space        *
    *   invaders. To add our own twist, we      *
    *   have modified some aspects of the game  *
    *   In particular, we have modified the     *
    *   enemies, the player, and the space      *
    *   bases.                                  *
    *                                           *            *
    *********************************************
 -->
<!DOCTYPE html>
<html>
    <head>
        <!--
            The following meta adds mobile support. In essence, it makes it so that
            viewport is the same width as the device and that the user is unable
            to scale the page.
        -->
        <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="./styles.css">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

        <title>Space Invaders</title>

    </head>

    <body>
        
        <!-- Start Screen -->
        <div id="start-screen" class="screen" style="display:block">
            <h1 class="start-logo">Deanvaders</h1>
            <h2>*** Score Advance Table ***</h2>
            <div>
                <icon><img src="" alt="mystery"></icon><h3> = ? mystery</h3>
            </div>
            <div>
                <icon><img src="../Images/Trustee1.png" alt="trustee1"></icon><h3> = 30 points</h3>
            </div>
            <div>
                <icon><img src="" alt="missing img"></icon><h3> = 20 points</h3>>
            </div>
            <div>
                <icon><img src="../Images/Trustee2.png" alt="trustee2"></icon><h3> = 10 points</h3>
            </div>
            <button id="start" class="start-button" onclick="start(); playMusic();">Press Enter to Start</button>

        </div>


         <!--
          Canvas is used to do the drawing.
         -->
        <div style="position: relative;">
            <p style="position: absolute; z-index: 1; color: white; left: 5px;">Score: <span id="scoreElement"><span>0</span></span></p>
            <canvas id="canvas" style='display:none'></canvas>
        </div>

         <!-- Game Over screen -->
         <div id="gameover-screen" class="over-screen" style="display: none">
            <h1 class="start-logo">Game Over</h1>
        </div>

        <!-- Script -->
        <script src="../models/Menu.js"></script>
        <script type="module" src="../src/index.js"></script>
        <script>
            let playMusic = () => new Audio("../Images/game_music.mp3").play()
        </script>
    </body>
</html>
