html, body
{
    /*
        we do not want margins
        because they are annoying
        when drawing.
    */
    margin : 0;
    overflow: hidden;
}

#gameArea
{
    /*
        we do not want the gameArea
        to change position
    */
    position : absolute;
}

#gameCanvas
{
    /*
        we do not want the gameCanvas
        to change position
    */
    position : absolute;

    /*
        we want the gameCanvas, since
        it is the only object, to
        occupy 100% of the gameArea
        divider.
    */
    width  : 100%;
    height : 100%;
}
